.lightning_studio/
.wakatime.cfg
.wakatime.bdb
.wakatime
.aws
.dotnet
.yarn
.npm
.redhat/
.quokka/
.devcontainer/
.wallaby
.wget-hsts
.bash_history
.idea/
.vscode/
.vscode-server/
.viminfo
/__pycache__/
src/ElectraKAN/__pycache__/
.vscode/
.venv/
/data/MNLI
/data/*.zip
/data/*.tar.gz
/data/*.json
/data/*.txt
.zed_server/
.ropeproject/
.mypy_cache/
*/__pycache__/
*/*/__pycache__/
outputs/
